.wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    /* faded grey text to not stand out*/
    color: #888;
  }

  .header h3 {
    /* reduce heading weight */
    font-weight: 200; 
    margin: 0px 0px 4px 0px;
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    display: grid;
    grid-template-columns: 1fr auto; 
    padding: 1rem 2rem;
  }
  
  .footer .buttonWrapper {
    display: flex;
    justify-content: center;
  }
  
  .button {
    padding: 0.5rem 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .backButtonWrapper {
    justify-self: start; /* Align the Back button to the left */
  }
  
  .nextButtonWrapper {
    justify-self: end; /* Align the Next button to the right */
  }
  
  