.result {
    margin-top: 1rem;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}

.failureReasonContainer {
    margin-top: 16px;
}